/*@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);*/
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body { 
  font-family: 'Rubik';
}

.remark-slide-content { /*background color for the slide*/
  background-color: #f2efda;
  padding: 1em 3.5em 1em 3.5em; /*top,right,bottom,left*/
}

.remark-slide-number {
  font-size:0.6em;
  margin: 1px auto;
  width:50%;
  bottom:5px;
  /*right:450px;
  vertical-align:middle;
  display:inline-block;*/
  text-align:left;
}
.remark-code, .remark-inline-code { 
  font-family: 'Rubik'; 
}

img[alt=Creative-Commons-License]{
  width:6%;
  position: fixed;
  right:10px;
  bottom:7px;
  /*float:right;*/
  /*display: inline;*/
}

img.logo_new {
   position: fixed;
   /*top: 7px; */
   left: 10px;
   bottom: -1px;
   width: 10%;
}

div.header, div.footer {
  display:block; 
  position: fixed;
  height:25px;
  /*color:gray; */
  width:100%;
  /*color chosen by Fernando*/
  background: #f2efda;
  /*color gradient start chosen based on https://colorpalettes.net/color-palette-2371/*/
  vertical-align:middle;
  margin:0 0 0 0;
}

div.header {
  text-align: center; 
  font-size:1em; 
  top: 0px;
  left: 0px;
  /*height: 30px;*/
  background: -moz-linear-gradient(bottom, #f9f7ed 0%, #f2efda 100%); 
  background: -webkit-linear-gradient(bottom, #f9f7ed 0%, #f2efda 100%);
  background: linear-gradient(to top, bottom, #f9f7ed 0%, #f2efda 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2efda', endColorstr='#f9f7ed',GradientType=0 );

}
div.footer {
  bottom: 0px;
  left:0px;
  /*height: 30px;*/
  background: -moz-linear-gradient(top, #f9f7ed 0%, #f2efda 100%); 
  background: -webkit-linear-gradient(top, #f9f7ed 0%, #f2efda 100%);
  background: linear-gradient(to bottom, top, #f9f7ed 0%, #f2efda 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f7ed', endColorstr='#f2efda',GradientType=0 );

}
p.header-text {
  display:inline-block;
  text-align:center;
  /*orange color*/
  /*color:#e77b4e;*/
  /*green color*/
  color:#4f655a; 
  font-weight: bold;
  font-size:0.65em;
  /*position: fixed;*/
  /*top: 10px;*/
  /*left: 375px;*/
  /*height: 30px;*/
  vertical-align:middle;
  margin:2px 0 0 0;
  text-transform: uppercase;
}
p.footer-text{
  position:fixed;
  left:10px;
  bottom:0px;
  font-size: 0.4em;
    /*green color*/
  color:#4f655a; 

}

p.license-text {
  font-family: 'Rubik'; 
  font-weight: 200;
  font-size:0.5em;
}


a:visited, a:link, a:active { 
  text-decoration: none; 
  /*text-transform: lowercase;*/
}
a:hover {
  text-decoration: underline; 
/*  text-transform: lowercase;*/
}

h1 {
  font-family: 'Oswald';
  font-weight: medium;
  color:#e77b4e;
  text-transform: uppercase;
  margin: 12px 5px 10px 5px;
  letter-spacing:0.025em;
  /*font-size: 45px;*/
}

/*h2, h3, h4, h5, h6 {
  font-family: 'Oswald';
  font-weight: 200;
  color:#4f655a;
  margin: 20px 0 20px 0;
}*/

h2, h3, h4, h5, h6 {
  font-family: 'Oswald';
  font-weight: medium;
  color:#4f655a;
  margin: 15px 5px 15px 5px;
  /*text-transform: uppercase;*/
  letter-spacing:0.035em;
}

p {
  font-family: 'Rubik';
  font-weight: 400;
  color:#4f655a;
}

ul {
  margin: 15px 0 15px 0;
}
li {
  font-family: 'Rubik';
  font-size:1.8em;
  color:#4f655a;
}

img {
  width:70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img[alt=img-left-10]{
  width:10%;
  float:left;
}
img[alt=img-left-15]{
  width:15%;
  float:left;
}
img[alt=img-left-20]{
  width:20%;
  float:left;
}
img[alt=img-left-30]{
  width:30%;
  float:left;
}
img[alt=img-left-35]{
  width:35%;
  float:left;
}
img[alt=img-left-40]{
  width:40%;
  float:left;
}
img[alt=img-left-43]{
  width:43%;
  float:left;
}
img[alt=img-left-45]{
  width:45%;
  float:left;
}
img[alt=img-left-48]{
  width:48%;
  float:left;
}
img[alt=img-left-50]{
  width:50%;
  float:left;
}
img[alt=img-left-55]{
  width:55%;
  float:left;
}
img[alt=img-left-60]{
  width:60%;
  float:left;
}
img[alt=img-left-bottom]{
  width:45%;
  float:left;
  bottom:10px;
}
img[alt=img-right-20]{
  width:20%;
  float:right;
}
img[alt=img-right-25]{
  width:25%;
  float:right;
}
img[alt=img-right-30]{
  width:30%;
  float:right;
}
img[alt=img-right-30-bottom]{
  width:30%;
  float:right;
  bottom:10px;
}
img[alt=img-right-35]{
  width:35%;
  float:right;
}
img[alt=img-right-40]{
  width:40%;
  float:right;
}
img[alt=img-right-43]{
  width:43%;
  float:right;
}
img[alt=img-right-45]{
  width:45%;
  float:right;
}
img[alt=img-right-48]{
  width:48%;
  float:right;
}
img[alt=img-right-50]{
  width:50%;
  float:right;
}
img[alt=img-right-55]{
  width:55%;
  float:right;
}
img[alt=img-right-60]{
  width:60%;
  float:right;
}
img[alt=img-right-65]{
  width:65%;
  float:right;
}
img[alt=img-right-70]{
  width:70%;
  float:right;
}
img[alt=img-right-bottom]{
  width:45%;
  float:right;
  bottom:10px;
}
img[alt=img-top]{
  width:50%;
  top:10px;
}
img[alt=img-center-20]{
  width:20%;
}
img[alt=img-center-25]{
  width:25%;
}
img[alt=img-center-30]{
  width:30%;
}
img[alt=img-center-35]{
  width:35%;
}
img[alt=img-center-38]{
  width:38%;
}
img[alt=img-center-40]{
  width:40%;
}
img[alt=img-center-45]{
  width:45%;
}
img[alt=img-center-48]{
  width:48%;
}
img[alt=img-center-50]{
  width:50%;
}
img[alt=img-center-55]{
  width:55%;
}
img[alt=img-center-60]{
  width:60%;
}
img[alt=img-center-65]{
  width:65%;
}
img[alt=img-center-70]{
  width:70%;
}
img[alt=img-center-75]{
  width:75%;
}
img[alt=img-center-80]{
  width:80%;
}
img[alt=img-center-85]{
  width:85%;
}
img[alt=img-center-90]{
  width:90%;
}
img[alt=img-center-95]{
  width:95%;
}
img[alt=img-center-100]{
  width:100%;
}


iframe {
  display:block;
  margin: 0 auto;
  vertical-align: left;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  text-align:justify;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 6em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-size:2.25em;
}

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  font-size: 0.75em;
/*  white-space: nowrap;*/
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; 
word-wrap:break-word;
}

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

.highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
  pre code, pre tt {
    background-color: transparent;
    border: none; }

.red {
  color: red;
}
.yellow {
  color: yellow;
}
.orange {
  color: orange;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.purple {
  color: #800080;
}
.pink {
  color: pink;
}
.brown {
  color: brown;
}
.gray {
  color: gray;
}

form{
  text-align: center;
}

.caption{
  display: block;
  text-align: center;
  color: gray;
  font-size:0.5em;
}


